.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .label {
        font-size: 1rem;
        color: var(--text);
        font-weight: 500;
    }

    .input {
        padding: 0.7rem 1rem;
        border: 1px solid var(--input-border);
        border-radius: 0.5rem;
        font-size: 1rem;
        outline: none;
        background: var(--card-bg);
        color: var(--text);
        transition: border-color 0.2s, background 0.3s, color 0.3s;

        &:focus {
            border-color: var(--input-focus);
        }
    }

    .errorInput {
        border-color: var(--error);
    }
}
